<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>错误页面-403</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" th:href="@{/image/favicon.ico}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/error.css}">
</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      <div class="main inner cover">
        <h1 class="cover-heading">403</h1>
        <p class="lead">您没有权限访问该页面,请联系管理员.</p>
        <p class="lead">
          <a href="./" class="btn btn-secondary">回到首页</a>
        </p>
      </div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>© BlockChain 2017-2018</p>
        </div>
      </footer>
    </div>
</html>